{% extends 'base.html.twig' %}

{% block title "Mon application React" %}

{% block stylesheets %}
    {#
        Sur bootswatch derouler le bouton download
        faire un clic droit sur bootswatch.min.css -> copier le lien et le coller ici 
    #}
    <link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet">

    {# <link href="/build/app.css" rel="stylesheet"> #}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {#
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script> 
    #}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
